.text-input {
    background-color: rgb(232, 240, 254);
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
}

.input-label, .input-field {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

.input-label {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
}

.input-field {
    border: none;
    background-color: rgb(232, 240, 254);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    margin: 0px;
    padding-top: 5px;
}

input:focus{
    outline: none;
}