.navbar ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar {
    background-color: #141414;
    margin-top: 0px;
    padding-bottom: 0px;
}

.navbar li {
    margin: .75rem;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
}

.navbar a.nav-selected {
    font-weight: bold;
}

.logo {
    width: 100px;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

.avatar {
    width: 35px;
    border-radius: 4px;
    cursor: pointer;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

.expand-icon {
    font-size: 16px;
    color: white;
    padding-left: .5rem;
    cursor: pointer;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

.notif-icon {
    font-size: 20px;
    color: white;
    cursor: pointer;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

.search-icon {
    font-size: 18px;
    color: white;
    cursor: pointer;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

.notif, .search {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    margin-top: 0;
}

.account {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    margin-top: 0;
}

.expand-icon:hover, .notif-icon:hover, .search-icon:hover,.navbar a:hover {
    color: rgb(190, 190, 190);
}

@media only screen and (min-width: 600px) {
    
    .navbar ul {
        flex-direction: row;
    }

    .navbar li {
        margin: .74rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .sign-out-link {
        position: absolute;
        right: 10px;
    }

    .account {
        position: absolute;
        right: 75px;
    }

    .notif-icon {
        position: absolute;
        right: 160px;
    }

    .search-icon {
        position: absolute;
        right: 200px;
    }

    .logo {
        padding-right: 1rem;
    }
}